# Python
__pycache__/
*.pyc
.venv/
.env
chroma_db/
data/pdfs/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Hugging Face / ML
.cache/
models/
checkpoints/
*.bin
*.safetensors

# VS Code
.vscode/